---
import Hero from "./Hero.astro";
import Tech from "./Tech.astro";
import Catalog from "./Catalog.astro";
import Payment from "./Payment.astro";
import Steps from "./Steps.astro";
import Testimonial from "./Testimonial.astro";
import Cta from "./Cta.astro";


---

<div class="container mx-auto max-w-7xl px-12">
    <Hero />
    <Tech />
    <Catalog />
    <Payment />
    <Steps />
    <Testimonial />
    <Cta />
  </div>